#main-content {
    margin-top: 70px;
    padding: 50px;
}

.text-error {
    display: none;
    font-size: 14px;
    color: red;
    padding: 5px 10px;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#form-login{  
    display: flex;
    flex-direction: column;
}